:root {
  --verde: rgb(141, 191, 65);
  --preto: rgb(0, 0, 0);
  --cinza: rgb(49, 53, 61);
  --branco: rgb(255, 255, 255);
}

/* start navbar */
.navbar {
  background-color: var(--preto);
}

.navbar a {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-menu {
  background-color: var(--preto);
  border: none;
}

.dropdown-item:hover {
  background-color: var(--cinza);
  color: var(--branco);
}

.nav-item:hover {
  background-color: var(--cinza);
}

.nav-item:hover a {
  color: white
}
